@media print {
    body * {
      visibility: hidden;
    }
    
    #printable, #printable * {
      visibility: visible;
    }
    #printable {
      position: absolute;
      left: 0;
      top: 0;
    }

    @page {
      size: A4 Portrait;
    }
    
  }
  
.messenger {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}